/* Yeh Layout.jsx ke liye CSS file hai. 
  Styles ko yahaan alag se rakha gaya hai taaki code saaf rahe.
*/

.layout-main {
    height: 100vh;
    background-color: #f4f7f6;
}

.layout-container {
    display: flex;
}

.sidebar {
    min-height: 100vh;
    width: 250px;
    background-color: #0d2c54;
    color: white;
}

.logo {
    padding: 1.5rem 1rem;
    text-align: center;
    border-bottom: 1px solid #1f487e;
}

.logo p {
    margin-top: -10px;
    color: #ccc;
}

.menu {
    margin-top: 1rem;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    gap: 1rem;
    text-decoration: none;
    color: #e0e0e0;
    transition: background-color 0.2s, color 0.2s;
}

.menu-item:hover {
    background-color: #1f487e;
    color: white;
}

.menu-item-active {
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    gap: 1rem;
    text-decoration: none;
    color: white;
    background-color: #1f487e;
    font-weight: bold;
}

.logout-link {
    position: absolute;
    bottom: 1rem;
    width: 250px;
}

.icon {
    font-size: 1.2rem;
}

.content {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.body {
    padding: 2rem;
}
